/* 
	FUNDO ↴
*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
}

.wallpaper {
	position: fixed;
}

/* 
	ÁREA LOGIN ↴
*/

.fundo {
	background-color: rgba(255, 255, 255, 0.247);
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
	border: 2px solid #F0F8FF;
	width: 300px;
	height: 550px;
}

.fundo a {
	color: blue;
}

.divisor {
	display: flex;
	justify-content: center;
	text-align: left;
	position: relative;
	padding-top: 1.5vw;
}

.login {
	width: 300px;
	height: 30px;
}

h1 {
	font-size: 35px;
	text-align: center;
}

label {
	display: block;
	margin-bottom: 20px;
	font-size: 17px;
}

input {
	font-size: 15px;
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid #F0F8FF	;
}

button {
	padding: 10px;
	width: 300px;
	font-size: 15px;
	color: black;
	background: #B0E0E6;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	box-shadow: 3px 3px #add8e660;
}

button:hover {
	background-color: #add8e6c2;
}

::placeholder {
	color: black;
}

.senha {
	text-align: center;
	margin-top: 10px;
}

/* 
	ÁREA ICONES ↴
*/

.icon {
	text-align: center;
	padding-bottom: 30px;
}

.icones_login {
	display: flex;
	justify-content: center;
}

.icone_texto {
	text-align: center;
	padding-top: 10px;
}

.icone_facebook, .icone_email, .icone_google {
	padding: 10px;
	padding-top: 15px;
	width: 40px;
}

/* 
	ÁREA CADASTRO ↴
*/

.cadastro {
	padding-top: 5px;
	text-align: right;
}

cadastro a {
	text-decoration: none;
	color: #0000cd;
}

/* 
	ÁREA CRIADO POR ↴
*/

.created_by {
	text-align: center;
	padding-top: 10px;
	font-weight: bold;
}

.created_by a {
	color: white;
	text-decoration: none;
}