/* 
	FUNDO ↴
*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
}

article .wallpaper {
	position: fixed;
}

/* 
	ÁREA LOGIN ↴
*/

article  .fundo {
	background-color: rgba(255, 255, 255, 0.247);
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
	border: 2px solid #F0F8FF;
	width: 300px;
	height: 550px;
}

article  .fundo a {
	color: blue;
}

article .divisor {
	display: flex;
	justify-content: center;
	text-align: left;
	position: relative;
	padding-top: 15px;
}

article .login {
	width: 300px;
	height: 30px;
}

article h1 {
	font-size: 35px;
	text-align: center;
}

article label {
	display: block;
	margin-bottom: 20px;
	font-size: 17px;
}

article input {
	font-size: 15px;
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid #F0F8FF	;
}

article button {
	padding: 10px;
	width: 300px;
	font-size: 15px;
	color: black;
	background: #B0E0E6;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	box-shadow: 3px 3px #add8e660;
}

article button:hover {
	background-color: #add8e6c2;
}

article ::placeholder {
	color: black;
}

article .senha {
	text-align: center;
	margin-top: 10px;
}

/* 
	ÁREA ICONES ↴
*/

article .icon {
	text-align: center;
	padding-bottom: 30px;
}

article .icones_login {
	display: flex;
	justify-content: center;
}

article .icone_texto {
	text-align: center;
	padding-top: 10px;
}

article .icone_facebook, .icone_email, .icone_google {
	padding: 10px;
	padding-top: 15px;
	width: 40px;
}

/* 
	ÁREA CADASTRO ↴
*/

article .cadastro {
	padding-top: 5px;
	text-align: right;
}

article cadastro a {
	text-decoration: none;
	color: #0000cd;
}