body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgba(187, 187, 187, 0.774);
	background-image: url(https://luizfelipe9627.github.io/login-page/images/banner.jpg);
	background-position: center;
}

h1 {
	font-size: 35px;
	text-align: center;
	color: #1e90ff;
}

.barra_login {
	border-top: 2px solid #87cefa;
	padding-bottom: 20px;
}

.divisor {
	display: flex;
	justify-content: center;
	text-align: left;
	padding-top: 100px;
}

.fundo {
	background-color: rgba(255, 255, 255, 0.658);
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border-radius: 5px;
	border: 3px solid rgba(18, 105, 236, 0.685);
}

label {
	display: block;
	margin-bottom: 20px;
	font-size: 17px;
}

.login {
	width: 350px;
	height: 30px;
}

input {
	font-size: 15px;
	border: 2px solid rgba(80, 78, 78, 0.678);
	border-radius: 5px;
}

button {
	padding: 10px;
	width: 357px;
	font-size: 15px;
	color: white;
	background: #0000cd;
	font-weight: bold;
	border: none;
}

.footer_cadastro {
	padding-top: 20px;
	text-align: right;
}

.footer_cadastro a {
	text-decoration: none;
	color: #0000cd;
}

::placeholder {
	color: gray;
}

@media (max-width: 600px) {

	.body {
		padding: 20px;
	}

	.divisor {
		padding: 100px;
	}
}
