.created_by {
	text-align: center;
	padding-top: 1.875rem;
	padding-bottom: 1.875rem;
	font-weight: bold;
	color: white;
}

.created_by a {
	text-decoration: none;
	color: #B0E0E6;
}

.created_by a:hover {
	color: blue;
}