body {
	height: 100vh;
	font-family: 'Open Sans';
	background-image: url("../image/banner.webp");
	background-position: center;
	background-size: cover;
  background-repeat: no-repeat;
	overflow-y: hidden;
}

h1 {
	font-size: 2.1875rem;
	text-align: center;
}

label {
	display: block;
	margin-bottom: 1.25rem;
	font-size: 1.0625rem;
}

input {
	font-size: 0.9375rem;
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 0.0625rem solid #F0F8FF	;
}

button {
	padding: 0.625rem;
	width: 18.75rem;
	font-size: 0.9375rem;
	color: black;
	background: #B0E0E6;
	font-weight: bold;
	border: none;
	border-radius: 0.3125rem;
	box-shadow: 0.1875rem 0.1875rem #add8e660;
}

button:hover {
	background-color: #add8e6c2;
}

::placeholder {
	color: black;
}