.fundo_form {
	padding: 0.625rem 1.25rem;
	background-color: rgba(255, 255, 255, 0.247);
	border-radius: 3% 15%;
	border: 0.125rem solid #F0F8FF;
}

.fundo_form a {
	color: blue;
}

.divisor {
	display: flex;
	justify-content: center;
	text-align: left;
}

.login {
	width: 100%;
	height: 1.875rem;
}

.senha {
	text-align: center;
	margin-top: 0.625rem;
}

.icon {
	text-align: center;
	padding: 0.625rem 0 1.25rem 0;
}

.icones_login {
	display: flex;
	justify-content: center;
}

.icone_texto {
	text-align: center;
	padding-top: 0.625rem;
}

.icone_facebook, .icone_linkedin, .icone_google {
	padding: 0.9375rem 0.625rem 0.625rem 0.625rem;
	width: 2.5rem;
}

.cadastro {
	margin-top: 0.625rem;
	text-align: right;
}

.cadastro a {
	text-decoration: none;
	color: #0000cd;
}

@media (min-width: 320px) and (max-width: 768px) {
	.divisor {
		margin-top: 20%;
	}
}